name: Documentation

on:
  push:
    branches: [master]
  pull_request:
    branches: ['*']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install
        run: python -m pip install sphinx sphinx-rtd-theme .

      - name: Build docs
        run: sphinx-build -W -n -j auto -b html -d build/doctrees doc build/html

      - uses: actions/upload-artifact@v1
        with:
          name: pshell-docs
          path: build/html
