name: Lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [*]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install
        run: |
          python -m pip install flake8 black isort mypy .

      - name: flake8
        run: flake8

      - name: black
        run: black --check -t py36 .

      - name: isort
        run: isort -rc --check .

      - name: mypy
        run: mypy .
